{"filter":false,"title":"application.html.1.slim","tooltip":"/railsgirls/app/views/layouts/application.html.1.slim","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":27,"column":27},"end":{"row":27,"column":27},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":8,"state":"start","mode":"ace/mode/slim"}},"timestamp":1549119198809,"hash":"2bafa85baadc21af4577343e6099890afc0d8c6d"}