{"filter":false,"title":"application.html.slim","tooltip":"/railsgirls/app/views/layouts/application.html.slim","ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":8,"column":0},"end":{"row":8,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"hash":"e0f97563b64b2ec630e3c9536cbb6aec32546845","undoManager":{"mark":-1,"position":-1,"stack":[]},"timestamp":1549196489542}