{"filter":false,"title":"index.html.slim","tooltip":"/railsgirls/app/views/layouts/index.html.slim","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":8,"column":0},"end":{"row":14,"column":0},"isBackwards":true},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1549196489934,"hash":"5c351456ec669d0ce0abab87e64b7df7529e2594"}